Repository cryptodm007/janus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-protocol/core, @janus-protocol/runtime, @janus-protocol/sdk, @janus-protocol/infra

Create TaskSettlement.sol
  contracts/tasks/TaskSettlement.sol
Owners: @janus-protocol/core

Create metrics.ts
  telemetry/ai/metrics.ts
Owners: none

Create grafana.json
  telemetry/ai/dashboards/grafana.json
Owners: none

Create janus-ai-layer.md
  docs/whitepaper/janus-ai-layer.md
Owners: none

Create mcp.md
  docs/api/mcp.md
Owners: none

Update package.json
  package.json
Owners: none

Create aiActionManager.ts
  core/aiActionManager.ts
Owners: none

Create index.ts
  services/queue/index.ts
Owners: none

Create aiChannel.ts
  bridge/events/aiChannel.ts
Owners: none

Create aiNotifier.ts
  programs/solana/bridge_adapter/src/aiNotifier.ts
Owners: none

Create index.ts
  telemetry/index.ts
Owners: none

Create ci-ai-layer.yml
  .github/workflows/ci-ai-layer.yml
Owners: none

Update security.yml
  .github/workflows/security.yml
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update CODEOWNERS
  CODEOWNERS
Owners: none

Update .env.example
  .env.example
Owners: none

Update sheets.ts
  packages/connectors/google/sheets.ts
Owners: @janus-protocol/sdk

Update s3.ts
  packages/connectors/aws/s3.ts
Owners: @janus-protocol/sdk

Update payments.ts
  packages/connectors/stripe/payments.ts
Owners: @janus-protocol/sdk

Create registry.ts
  api/ai/src/nodes/registry.ts
Owners: none

Create bridge.swap.ts
  api/ai/src/nodes/samples/bridge.swap.ts
Owners: none

Create sheets.to.s3.ts
  api/ai/src/nodes/samples/sheets.to.s3.ts
Owners: none

Create onchain.hashRecord.ts
  api/ai/src/nodes/samples/onchain.hashRecord.ts
Owners: none

Update actions.ts
  api/ai/src/routes/actions.ts
Owners: none

Update janus.executeNode.ts
  ai/mcp/server/src/tools/janus.executeNode.ts
Owners: none

Create janus.onchain.hashRecord.ts
  ai/mcp/server/src/tools/janus.onchain.hashRecord.ts
Owners: none

Create package.json
  ai/mcp/agents/data-agent/package.json
Owners: none

Create tsconfig.json
  ai/mcp/agents/data-agent/tsconfig.json
Owners: none

Create index.ts
  ai/mcp/agents/data-agent/src/index.ts
Owners: none

Create package.json
  ai/mcp/agents/trade-agent/package.json
Owners: none

Create tsconfig.json
  ai/mcp/agents/trade-agent/tsconfig.json
Owners: none

Create index.ts
  ai/mcp/agents/trade-agent/src/index.ts
Owners: none

Update aiChannel.ts
  bridge/events/aiChannel.ts
Owners: none

Create forwardToAI.ts
  bridge/events/forwardToAI.ts
Owners: none

Update index.ts
  ai/mcp/server/src/index.ts
Owners: none

Create e2e.data-agent.spec.ts
  tests/integration/ai/e2e.data-agent.spec.ts
Owners: none

Update .env.example
  .env.example
Owners: none

Create evmSwap.ts
  services/bridge/base/evmSwap.ts
Owners: none

Create jupiterSwap.ts
  services/bridge/solana/jupiterSwap.ts
Owners: none

Update bridge.swap.ts
  api/ai/src/nodes/samples/bridge.swap.ts
Owners: none

.github/CODEOWNERS:

# owners por Ã¡rea
/contracts/ @janus-protocol/core
/apps/gateway/ @janus-protocol/runtime
/packages/ @janus-protocol/sdk
/tools/ @janus-protocol/infra
