Repository cryptodm007/janus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-protocol/core, @janus-protocol/runtime, @janus-protocol/sdk, @janus-protocol/infra

.github/CODEOWNERS:

# owners por Ã¡rea
/contracts/ @janus-protocol/core
/apps/gateway/ @janus-protocol/runtime
/packages/ @janus-protocol/sdk
/tools/ @janus-protocol/infra

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Create addresses.testnet.json
  contracts/addresses.testnet.json
Owners: @janus-protocol/core

Create IExecutorPolicy.sol
  contracts/dao/IExecutorPolicy.sol
Owners: @janus-protocol/core

Create ConstitutionDAO.sol
  contracts/dao/ConstitutionDAO.sol
Owners: @janus-protocol/core

Create ConstitutionDAO.t.sol
  contracts/test/ConstitutionDAO.t.sol
Owners: @janus-protocol/core

Create DeployDAOTestnet.s.sol
  contracts/script/DeployDAOTestnet.s.sol
Owners: @janus-protocol/core

Create governance.md
  apps/docs/docs/governance.md
Owners: none

Create governance_proposal.md
  .github/ISSUE_TEMPLATE/governance_proposal.md
Owners: none

Create __init__.py
  bridge/sync/__init__.py
Owners: none

Create sync_manager.py
  bridge/sync/sync_manager.py
Owners: none

Create relay_proof.py
  bridge/sync/relay_proof.py
Owners: none

Create README.md
  bridge/sync/README.md
Owners: none

Create __init__.py
  core/__init__.py
Owners: none

Create state_manager.py
  core/state_manager.py
Owners: none

Update sync_manager.py
  bridge/sync/sync_manager.py
Owners: none

Update relay_proof.py
  bridge/sync/relay_proof.py
Owners: none

Create policy_engine.py
  core/policy_engine.py
Owners: none

Create reputation.py
  core/reputation.py
Owners: none

Create __init__.py
  bridge/validation/__init__.py
Owners: none

Create schemas.py
  bridge/validation/schemas.py
Owners: none

Create ai_validator.py
  bridge/validation/ai_validator.py
Owners: none

Create ai_sync_manager.py
  bridge/sync/ai_sync_manager.py
Owners: none

Create __init__.py
  core/observability/__init__.py
Owners: none

Create logger.py
  core/observability/logger.py
Owners: none

Create metrics.py
  core/observability/metrics.py
Owners: none

Create tracing.py
  core/observability/tracing.py
Owners: none

Create middleware.py
  core/observability/middleware.py
Owners: none

Update sync_manager.py
  bridge/sync/sync_manager.py
Owners: none

Create __init__.py
  core/config/__init__.py
Owners: none

Create types.py
  core/config/types.py
Owners: none

Create loader.py
  core/config/loader.py
Owners: none

Create dev.json
  core/config/profiles/dev.json
Owners: none

Create testnet.json
  core/config/profiles/testnet.json
Owners: none

Create mainnet.json
  core/config/profiles/mainnet.json
Owners: none

Create .env.example
  .env.example
Owners: none

Create print_config.py
  tools/print_config.py
Owners: @janus-protocol/infra

Create __init__.py
  core/secrets/__init__.py
Owners: none

Create keystore.py
  core/secrets/keystore.py
Owners: none
