Repository cryptodm007/janus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-protocol/core, @janus-protocol/runtime, @janus-protocol/sdk, @janus-protocol/infra

.github/CODEOWNERS:

# owners por Ã¡rea
/contracts/ @janus-protocol/core
/apps/gateway/ @janus-protocol/runtime
/packages/ @janus-protocol/sdk
/tools/ @janus-protocol/infra

Create stripe.ts
  packages/automation-nodes/src/utils/stripe.ts
Owners: @janus-protocol/sdk

Create StripeCreateCheckoutSession.node.ts
  packages/automation-nodes/src/nodes/StripeCreateCheckoutSession.node.ts
Owners: @janus-protocol/sdk

Create StripeCreatePaymentIntent.node.ts
  packages/automation-nodes/src/nodes/StripeCreatePaymentIntent.node.ts
Owners: @janus-protocol/sdk

Update index.ts
  packages/automation-nodes/src/index.ts
Owners: @janus-protocol/sdk

Update .env.example
  apps/automation-engine/.env.example
Owners: none

Update package.json
  packages/automation-nodes/package.json
Owners: @janus-protocol/sdk

Update index.ts
  packages/automation-nodes/src/index.ts
Owners: @janus-protocol/sdk

Update README.md
  README.md
Owners: none

Create README.md
  ai/mcp/README.md
Owners: none

Create tsconfig.json
  ai/mcp/server/tsconfig.json
Owners: none

Create index.ts
  ai/mcp/server/src/index.ts
Owners: none

Create auth.ts
  ai/mcp/server/src/auth.ts
Owners: none

Create schema.ts
  ai/mcp/server/src/schema.ts
Owners: none

Create janus.executeNode.ts
  ai/mcp/server/src/tools/janus.executeNode.ts
Owners: none

Create janus.gsheets.read.ts
  ai/mcp/server/src/tools/janus.gsheets.read.ts
Owners: none

Create janus.s3.put.ts
  ai/mcp/server/src/tools/janus.s3.put.ts
Owners: none

Create janus.stripe.charge.ts
  ai/mcp/server/src/tools/janus.stripe.charge.ts
Owners: none

Create README.md
  ai/mcp/agents/trade-agent/README.md
Owners: none

Create README.md
  ai/mcp/agents/data-agent/README.md
Owners: none

Create agents.json
  ai/registry/agents.json
Owners: none

Create tools.json
  ai/registry/tools.json
Owners: none

Create README.md
  packages/connectors/README.md
Owners: @janus-protocol/sdk

Create index.ts
  packages/connectors/index.ts
Owners: @janus-protocol/sdk

Create sheets.ts
  packages/connectors/google/sheets.ts
Owners: @janus-protocol/sdk

Create s3.ts
  packages/connectors/aws/s3.ts
Owners: @janus-protocol/sdk

Create payments.ts
  packages/connectors/stripe/payments.ts
Owners: @janus-protocol/sdk

Create README.md
  api/ai/README.md
Owners: none

Create package.json
  api/ai/package.json
Owners: none

Create tsconfig.json
  api/ai/tsconfig.json
Owners: none

Create types.ts
  api/ai/src/types.ts
Owners: none

Create auth.ts
  api/ai/src/middleware/auth.ts
Owners: none

Create actions.ts
  api/ai/src/routes/actions.ts
Owners: none

Create agents.ts
  api/ai/src/routes/agents.ts
Owners: none

Create server.ts
  api/ai/src/server.ts
Owners: none

Update README.md
  contracts/README.md
Owners: @janus-protocol/core

Create package.json
  contracts/package.json
Owners: @janus-protocol/core

Create hardhat.config.ts
  contracts/hardhat.config.ts
Owners: @janus-protocol/core

Create AgentRegistry.sol
  contracts/agents/AgentRegistry.sol
Owners: @janus-protocol/core

Create AgentStaking.sol
  contracts/agents/AgentStaking.sol
Owners: @janus-protocol/core

Create AgentRewards.sol
  contracts/agents/AgentRewards.sol
Owners: @janus-protocol/core
